body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px)/2);
}

/* HEADER */
.logo {
    height: 30px;
    float: left;
    object-fit: contain;
    object-position: top left;
}
.main-meniu {
    float: right;
    margin-top: 5px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 40px;
}

.main-meniu > .link {
    margin-left: 30px;
    text-decoration: none; 
    color: #7E7D7D;  
}

.main-meniu > .link:nth-of-type(1) {
    margin-left: 0;  
}

.main-meniu > .underline {
    text-decoration: underline;
}

/* MAIN */
.left-column { 
    width: 40%; 
    float: left;
}
.main-title {
    font-size: 50px; 
}
.main-title > span {
    font-weight: normal;
}
.line {
    width: 100px;
    height: 5px; 
    margin-left: 15px; 
    margin-top: -20px; 
    margin-bottom: 15px;
    background-color: #5A397F;
}

.description {
    float: top;
    font-size: 16px;
    color: #a5a5a6;
}
.btn {
    display: inline-block;  
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid #65398B;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}
.btn.btn1 {
    background-color: #65398B; /* violet */
    color: #F7F6F8;
}
.btn.btn2 {
    background-color: #ffffff; /* white */
    color: #65398B;
}

.right-column {
    width: 60%;
    float: right;
}

/* FOOTER */
.socials {
    float: left; 
    margin: 10px; 
    margin-left: 15px;
    /* color: #CBCCCC; */
}   
.socials > .link { 
    /* color: #CBCCCC;  */
    float: left;
    font-size: 16px;
}
.copyright {
    color: #6c6364; 
    float: right;
    font-size: 16px; 
    margin: 5px; 
    margin-right: 40px;
    font-weight: bold;
}