body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px)/2);
    margin-bottom: 40px;
}
footer.container {
    margin-bottom: 0;
}

/* HEADER */
.logo {
    height: 30px;
    float: left;
    object-fit: contain;
    object-position: top left;
}
.main-meniu {
    float: right;
    margin-top: 5px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 40px;
}

.main-meniu > .link {
    margin-left: 30px;
    text-decoration: none; 
    color: #7E7D7D;  
}

.main-meniu > .link:nth-of-type(1) {
    margin-left: 0;  
}

.main-meniu > .underline {
    text-decoration: underline;
}

/* MAIN */
.left-column {
    width: 40%; 
    float: left;
}
.main-title {
    display: inline-block;
    width: 100%;
    font-size: 50px; 
}
.main-title > span {
    font-weight: normal;
}

.main-title > .line {
    display: block;
    height: 4px;
    width: 20%;
    margin-left: 10px;
    margin-bottom: -30px;
    background-color: #5A397F;
}

.description {
    /* float: top; */
    display: inline-block;
    width: 100%;
    color: #a5a5a6;
    margin-bottom: 50px;
}
.btn {
    display: inline-block;  
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 0.2em solid #65398B;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1.5em;
}

.btn.btn1 {
    background-color: #65398B; /* violet */
    color: #F7F6F8;
}
.btn.btn1:hover {
    background-color: #ffffff;
    color: #65398B;
}

.btn.btn2 {
    background-color: #ffffff; /* white */
    color: #65398B;
}
.btn.btn2:hover {
    background-color: #65398B;
    color: #ffffff;
}

.right-column {
    width: 60%;
    float: right;
}


/* FOOTER */
.socials {
    float: left; 
}   
.socials > .link { 
    height: 2em;
    width: 2em;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 2em;
    color: #CBCCCC;
    text-decoration: none;
}
.socials > .link:hover {
    background-color: #65398B;
    color: #ffffff;
    border-radius: 50%;
    /* border-radius: 1em; */
}

.copyright {
    color: #6c6364;
    float: right;
    font-size: 16px; 
    margin: 5px; 
    margin-right: 40px;
    font-weight: bold;
}